<form id="message-form">
    <textarea name="username"></textarea>
    <textarea name="password"></textarea>
    <button type="submit">Send</button>
</form>

<script>
document.querySelector('#message-form').addEventListener('submit', function(e) {
  e.preventDefault();

  let username = document.querySelector('textarea[name="username"]').value;
  let password = document.querySelector('textarea[name="password"]').value;
  console.log(username)

  let data = {
    username: username,
    password: password
  };

  fetch('/create_user/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data), headers: {'X-CSRFToken': '{{ csrf_token }}'},
  })
  .then(response => {
  console.log(response.json);
  return response.json();
  })
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});
</script>
