{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hr-page/profile-panel.css' %}">

<div class="profile-panel">
    <div class="profile-card">
         <div class="profile-image-box">
        {% load static %}
        <img src="{% static 'img/candidate-photo.png' %}">
        </div>

        {% if user.is_HRBP %}
        <div class="profile-name">{{ user.first_name }} {{ user.last_name }}: hrbp</div>
        {% else %}
        <div class="profile-name">{{ user.first_name }} {{ user.last_name }}: hr</div>
        {% endif %}
    </div>
    <div class="profile-panel-manage">
        <a href="/hr/vacancies"><div>Вакансии</div></a>{# TODO #}
        <a href="/candidates"><div>Подбор кандидата</div></a>
        <a href="/hr/archive-vacancies"><div>Архив</div></a>{# TODO #}
        {% if user.is_HRBP %}
            <a href="/hr/all"><div>Список всех hr</div></a>
        <a href="/hr/messenger/customer/{{ user.hrbp.customer.id }}"><div>Заказчик</div></a>

{#            <a href="/hr/add/"><div>Добавить нового hr</div></a>#}

        {% else %}
            <a href="/hr/messenger/hr/{{ user.hr.hRBP.id }}"><div>HRBP</div></a>
        {% endif %}
        <a href="/hr/statistics/"><div>Статистика</div></a>
{#        <a href="/hr/edit-by-id/{{ user.id }}"><div>Изменить данные профиля</div></a>#}
    </div>
</div>