{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/filter-sort-panel.css' %}">
<div class="panel-box">
    <div class="panel-header">
        Найти сотрудника
    </div>
    <div class="panel-desc">
        Поиск лучших кандидатов на вакансии
    </div>
    <form method="post" action="/find-candidates/">
     {% csrf_token %}

        <select name="id" class="panel-select vacancy">
{#        TODO fill inputs by vacancy inform#}
            {% if  id %}
                <option value="{{ id }}">{{name}}</option>
            {% else %}
                <option value="">Поиск по вакансиям</option>
            {% endif %}

            {% for vacancy in vacancies %}
               {% if  id != vacancy.id %}
            <option value={{ vacancy.id }}>{{ vacancy.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="city" class="panel-select">
            {% if id %}
            <option value="{{ city.id }}">{{ city.cityName }}, {{ city.country.countryName }} </option>
            {% else %}
                <option value="">Локация</option>
            {% endif %}
            {% for city1 in cities %}
                {% if city1.id != city.id %}
                <option value={{ city1.id }}>{{ city1.country.countryName }}, {{ city1.cityName }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="speciality" class="panel-select">
            {% if speciality %}
            <option value="{{ speciality.id }}">{{ speciality.specialityName }}</option>
            {% else %}
                <option value="">Специальность</option>
            {% endif %}
            {% for speciality1 in specialities %}
                {% if speciality1.id != speciality.id %}
                <option value={{ speciality1.id }}> {{ speciality1.specialityName }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="from-to">

                <input placeholder="Опыт работы от" type="number" value="{{ workExperienceFrom }}" name="workExperienceFrom">

                <input placeholder="Опыт работы до" type="number" value="{{ workExperienceTo }}" name="workExperienceTo">
        </div>
        <div class="from-to">

                <input placeholder="Зарплата от" type="number" value="{{ suggestedSalaryFrom }}" name="suggestedSalaryFrom">

                <input placeholder="Зарплата до" type="number" value="{{ suggestedSalaryTo }}" name="suggestedSalaryTo">
            </div>
{#        <select class="panel-select">#}
{#            <option value="">Сортировать по</option>#}
{#            <option value="1">1</option>#}
{#            <option value="2">2</option>#}
{#        </select>#}
{#        <div class="filters">#}
{#            <div class="filters-text">#}
{#                <a href="#">Еще фильтры</a>#}
{#            </div>#}
{##}
{#            <div class="checkbox-holder">#}
{#                <input type="checkbox">#}
{#                <input type="checkbox">#}
{#                <input type="checkbox">#}
{#            </div>#}
{#        </div>#}
        <input type="submit" value="Найти" name="find">
    </form>
</div>
