    <script src="https://kit.fontawesome.com/98db032af2.js" crossorigin="anonymous"></script>
{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/messenger/messenger.css' %}">
<div class="messenger-module" id="messenger-module">

    <div class="messenger-header">

        {{ addressee.surname }} {{ addressee.name }} {{ addressee.patronymic }}
        {{ addressee.first_name }} {{ addressee.last_name }}
    </div>
    <div class="messenger-page" id="messenger_page">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/messenger/message.css' %}">
        {% for message in messages %}
        {% if message.sender == user %}
        {% include 'basic/messenger/message-from-me.html' with message=message%}
        {% else %}
        {% include 'basic/messenger/message-to-me.html' with message=message%}
        {% endif %}
        {% endfor %}
    </div>
    {% if addressee.first_name %}
    <form action="/hr/messenger/hr/{{ addressee.id}}" method="post">
    {% else %}
    <form action="/hr/messenger/candidate/{{ addressee.id}}" method="post">
        {% endif %}
        {% csrf_token %}
        <input type="text" name="subject" placeholder="Тема">
        <textarea name="body" placeholder="Введите сообщение..."  ></textarea>
        <button type="submit" name="send">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </button>
    </form>
</div>
    <script>
        let messenger_page = document.getElementById('messenger_page');
        messenger_page.scrollTop = messenger_page.scrollHeight;
   </script>
