{% load static %}
{% load custom_filters %}

<link rel="stylesheet" type="text/css" href="{% static 'css/candidate-main.css' %}">
<div class="main-module">
    {% include 'basic/vacancy/vacancy-card.html' with vacancy=candidate.vacancy %}
    <div class="main-info">
        <form method="post" action="/candidate-period/{{ candidate.id }}">
            {% csrf_token %}
        {% if not user.is_Customer %}
        <div>

        <select name="id" class="panel-select vacancy">
            {% if  id %}
                <option value="{{ candidate.vacancy.id }}">{{candidate.vacancy.name}}</option>
            {% else %}
                <option value="">Поиск по вакансиям</option>
            {% endif %}
            {% for vacancy in vacancies %}
               {% if  candidate.vacancy.id != vacancy.id %}
            <option value={{ vacancy.id }}>{{ vacancy.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <button type="submit" name="asign_vacancy" >Назначить вакансию</button>

</div>
            <div>
            <input type="datetime-local" name="deadline_test_task">
            <button type="submit" name="asing_test_task">Отправить ТЗ</button>
            </div>
{% endif %}
        {% if test_task_was_getten %}
          <div>  <label>
                <input type="radio" name="mark_test_task" value="accepted" for="mark1">
                Успешно
            </label>
            <label>
                <input type="radio" name="mark_test_task" value="not_accepted" for="mark2">
                Отказ
            </label>
            <textarea name="comment_test_task"></textarea>
            <button type="submit" name="send_test_task">Оценить ТЗ</button>
            </div>
        {% endif %}
            <div>
            <input type="datetime-local" name="datetime_interview">
            <button type="submit" name="interview">Интервью</button>
                </div>
        <div>
            <label>
                <input type="radio" name="mark_interview" value="accepted">
                Успешно
            </label>
            <label>
                <input type="radio" name="mark_interview" value="not_accepted">
                Отказ
            </label>
            <textarea name="comment_interview"></textarea>
            <button type="submit" name="send_interview">Оценить интревью</button>
        </div>
        <div>
            <button type="submit" name="send_offer">Оффер</button>
            </div>
        <div>
            <button type="submit" name="send_stop">Отказ</button>
            </div>
        </form>
    </div>
</div>