{% load static %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hr-page/profile-panel.css' %}">

<div class="profile-panel">
    <div class="profile-card">
         <div class="profile-image-box">
        {% load static %}
        <img src="{% static 'img/candidate-photo.png' %}">
        </div>
        <div class="candidate-info">
            <div class="candidate-name"> {{ candidate.surname }} {{ candidate.name }} {{ candidate.patronymic }} </div>
            <div class="vacancy-desc">
            <div>
                <div><span>Статус кандидата</span>
                <span>
                    {{ candidate.get_status_display }}
                </span></div>
                <div><span>Почта</span>
                    <span>{{ candidate.email }}</span>
                </div>
                <div><span>Номер</span>
                    <span>{{ candidate.phone }}</span>
                </div>
                <div><span>Возраст</span>
                <span>
                    {{ candidate.birthdayDate|display_age }}</span></div>

                <div><span>Образование</span>
                <span>
                    {{ candidate.get_educationLevel_display }}
                </span></div>
                <div><span>Опыт работы</span>
                <span>
                    {{ candidate.workExperienceDuration|display_months }}
                </span></div>
            <div>
                <span>Готовность к переезду</span>
                <span>
                    {% if candidate.relocationReady == True %}Да
                    {% else %}Нет
                    {% endif %}
                </span>
            </div>
                <div> <span>Ожидаемая зарплата</span>

                    <span>{{ candidate.expectedSalaryFrom }} - {{ candidate.expectedSalaryTo }}
                </span></div>
              <div><span>Специальность</span>


                    <span>{{ candidate.speciality.specialityName }}</span>
                </div>

            </div>
            <a download href="{{ candidate.resumeLink }}">Скачать резюме</a>
        </div>

</div>
    </div>
    <div class="profile-panel-manage">
        <a href="/candidate-information/main/{{ candidate.id }}"><div>Основная информация</div></a>
        <a href="/hr/messenger/candidate/{{ candidate.id }}"><div>Написать</div></a>
        <a href="{% static 'img/candidate-photo.png' %}" download><div>Скачать резюме</div></a>
    </div>
</div>